/Assignment 4/rewards.mat
/Assignment 4/states.mat
/Fina Project/td3/record.dat
/Fina Project/td3/record_mean.dat
/Fina Project/DQN/trained_models/
/Fina Project/DQN/record.dat
/Fina Project/DQN/record_mean.dat
/Fina Project/DDPG/trained_models/
/Fina Project/DDPG/record_mean.dat
/Fina Project/DDPG/records.dat
