/Assignment 4/rewards.mat
/Assignment 4/states.mat
/Final Project/td3/record.dat
/Final Project/td3/record_mean.dat
/Final Project/DQN/trained_models/
/Final Project/DQN/record.dat
/Final Project/DQN/record_mean.dat
/Final Project/DDPG/trained_models/
/Final Project/DDPG/record_mean.dat
/Final Project/DDPG/records.dat
